.multi-view_content__background {
    filter: blur(0px) !important;
    opacity: 0.4 !important;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
}
